body { background: #c36efb; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 40px; display: flex; }
.block-uploader-0 { color: #a411ef; font-size: 15px; margin-bottom: 5px; }
.block-config-1 { color: #850a94; font-size: 12px; margin-bottom: 5px; }
.block-cart-2 { color: #2664b7; font-size: 17px; margin-bottom: 5px; }
.block-config-3 { color: #ec6aa8; font-size: 15px; margin-bottom: 5px; }
.block-invoice-4 { color: #816c62; font-size: 17px; margin-bottom: 5px; }